<div class="m_menu_content">

  <div class="m_sub_heading">
    {{ links.title }}
  </div>
  {%- assign collection_group = '' -%}
  {% for link in linklists[links.handle].links %}
    <a href="{{ link.url }}" class="m_menu_terminal">
      <div class="m_col_img">
        <img src="{{ link.object.featured_image | img_url: '51x51', crop: "center" }}" alt="">
      </div>
      <div class="m_menu_link">
        <span>{{ link.title | remove: '/trending' }}</span>
      </div>
      {% if link.title contains '/trending' %}
        <div class="m_menu_trending"></div>
      {% endif %}
    </a>
    {%- if link.object == 'collection' -%}
      {%- assign appendee = link.object.handle -%}
      {%- assign collection_group = collection_group | append: ',' | appendee -%}
    {%- endif -%}
  {% endfor %}

  <div class="m_sub_bestsellers">
    <div class="m_sub_best_title">
      bestseller {{ links.title }}
    </div>
    <div class="m_sub_best_wrapper">
      {%- assign collection = collections[links.object.handle] -%}
      {% assign sorted_products = collection.products | sort: 'best-selling' %}
      {%- for product in sorted_products limit: 3 -%}
        <div>
          {%- render 'p_slider_card' product: product -%}
        </div>

      {%- endfor -%}
    </div>
  </div>
</div>