{% assign _ss = section.settings %}
{% assign sc = section.id | split: '__' | last | slice: -4, 4 | prepend: '#cart-drawer_' %}

{%- capture section_content -%}

<style>
  {{sc}} .drawer__inner {
    width: 100%;
    max-width: 450px;
    padding: 0 19px;
    background: #FFF6F7 0% 0% no-repeat padding-box;
    overflow-y: auto;
    border: none;
  }
  cart-drawer{{sc}}.is-empty .drawer__inner {
    padding: 0;
    background: #FFFFFF 0% 0% no-repeat padding-box;
  }
  cart-drawer{{sc}}.is-empty .cart_drawer__footer,
  cart-drawer{{sc}}.is-empty .cart-upsell-produts,
  cart-drawer{{sc}}.is-empty .cart-header,
  cart-drawer{{sc}}.is-empty .freeshipping {
    display: none;
  }

  {{sc}} .main-swiper-navigation {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    justify-content: space-between;
    display: flex;
    z-index: 1;
    pointer-events: none;
  }
  {{sc}} .swiper-button {
    width: 38px;
    height: 38px;
    border-radius: 50px;
    background-color: white;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 24px #FF75B13D;
    user-select: none;
    pointer-events: all;
    cursor: pointer;
  }

  {{sc}} .swiper-button.button-prev {
    transform: rotate(180deg);
  }

  {{sc}} .swiper-button.swiper-button-disabled {
    opacity: 0;
  }
  
  {{sc}} .cart-upsell-products .swiper-button svg path{
    stroke: #001C72
  }
  {{sc}} .drawer__inner-empty {
      padding: 0;
      height: 100%;
      display: none;
  }
  
  {{sc}}.is-empty .drawer__inner-empty {
    display: flex;
  }

  {{sc}} .drawer_inner {
    width: 100%;
    max-width: 450px;
  }
  {{sc}} empty-cart-swiper .swiper-pagination-bullet {
      background: #FFFFFF 0% 0% no-repeat padding-box;
      border: 1px solid #FFBAD8;
      width: 11px;
      height: 11px;
      transform: scale(1)!important;
      opacity: 1!important;
  }
  {{sc}} empty-cart-swiper .swiper-pagination {
    bottom: 0;
    margin-top: 12px;
    position: relative;
  }
  {{sc}} empty-cart-swiper .swiper-pagination-bullet.swiper-pagination-bullet-active {
      background: #FF75B1 0% 0% no-repeat padding-box;
  }
  {{sc}} .empty-header {
      display: flex;
      padding: 22px 18px;
      background: #FFF6F7 0% 0% no-repeat padding-box;
  }
  {{sc}} .cart-closer {
      width: 32px;
      height: 32px;
      background: #FFFFFF 0% 0% no-repeat padding-box;
      border: 2px solid #FFBAD8;
      border-radius: 50px;
      padding: 7px;
      cursor: pointer;
  }
  {{sc}} .empty-heading {
      text-align: center;
      font: normal normal 900 24px/28px Basis Grotesque Pro;
      letter-spacing: 0px;
      color: #001C72;
      margin: 4px 0 5px;
  }

  {{sc}} .empty-desc {
      text-align: center;
      font: normal normal normal 15px/18px Basis Grotesque Pro;
      letter-spacing: 0px;
      color: #001C72;
      max-width: 230px;
      margin: auto;
  }

  {{sc}} .empty-content {
      display: flex;
      flex-direction: column;
      background: #FFF6F7 0% 0% no-repeat padding-box;
      overflow-y: auto;
  }

  {{sc}} .empty-links {
      display: flex;
      padding: 15px 0 0;
      position: relative;
      flex-wrap: wrap;
  }

  {{sc}} .empty-link {
      background: #FFFFFF 0% 0% no-repeat padding-box;
      border-radius: 8px;
      padding: 9px;
      margin: 0 18px 8px;
      display: none;
      width: 100%;
  }

  {{sc}} .empty-link .empty-link-wrapper {
      display: flex;
      justify-content: flex-start;
      text-decoration: none;
      white-space: nowrap;
      align-items: center;
  }

  {{sc}} .empty-link-wrapper span {
      text-align: left;
      font: normal normal 900 18px/28px Basis Grotesque Pro;
      letter-spacing: 0px;
      color: #001C72;
      margin-right: auto;
  }

  {{sc}} .empty-link-featured-image {
      border-radius: 6px;
  }
  {{sc}} .empty-link-wrapper img {
      margin-right: 14px;
  }
  {{sc}} .empty-link-desktop {
      width: calc(50% - 24px);
      background: #FFFFFF 0% 0% no-repeat padding-box;
      border-radius: 12px;
      margin-top: 21px;
      margin-bottom: 21px;
  }

  {{sc}} .empty-link-desktop:nth-child(odd) {
      margin-left: 18px;
      margin-right: 6px;
  }

  {{sc}} .empty-link-desktop:nth-child(even) {
      margin-right: 18px;
      margin-left: 6px;
  }
  {{sc}} .featured_image {
      padding-top: 100%;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      position: relative;
      width: 100%;
      border-radius: 12px;
  }

  {{sc}} .empty-link-desktop .featured_image > svg {
      bottom: -1px;
      position: absolute;
  }

  {{sc}} .empty-link-desktop .empty-link-wrapper > span {
      text-align: center;
      font: normal normal 900 20px/26px Basis Grotesque Pro;
      letter-spacing: 0px;
      color: #001C72;
      margin: auto;
      padding: 14px 0 11px;
  }

  {{sc}} .empty-link-desktop > a {
      text-decoration: none;
      display: flex;
      flex-direction: column;
      align-items: center;
  }
  {{sc}} .hero_paw {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    width: 65px;
    height: 65px;
    background-size: contain;
  }
  {{sc}} .empty-upsell {
    background: white;
    padding-top: 42px;
  }

  {{sc}} .empty-upsell-title {
      text-align: center;
      font: normal normal 900 17px/22px Basis Grotesque Pro;
      letter-spacing: 0px;
      color: #001C72;
      padding: 21px 0 12px;
  }

  {{sc}} .upsell-media {
      background: #FFFFFF 0% 0% no-repeat padding-box;
      border-radius: 6px;
      display: flex;
      margin-right: 10px;
  }

  {{sc}} .upsell-wrapper {
    display: flex;
    background: #FFF6F7 0% 0% no-repeat padding-box;
    border-radius: 6px;
    padding: 10px 38px 10px 10px;
    height: 100%;
    align-items: flex-start;
    box-sizing: border-box;
  }
  {{sc}} .upsell-detail a {
    font: normal normal 900 13px/15px Basis Grotesque Pro;
    letter-spacing: 0px;
    color: #001C72;
    text-decoration: none;
  }

  {{sc}} span.cur_price {
    text-align: left;
    font: normal normal 900 12px/15px Basis Grotesque Pro;
    letter-spacing: 0px;
    color: #FF75B1;
    margin-right: 4px;
  }

  {{sc}} span.compare_price {
    text-decoration: line-through;
    font: normal normal bold 12px/15px Basis Grotesque Pro;
    letter-spacing: 0px;
    color: #9F9F9F;
  }

  {{sc}} .upsell-detail {
    display: flex;
    flex-direction: column;
    margin: auto;
  }

  {{sc}} .empty-footer {
      margin-top: auto;
      padding: 16px 19px;
  }
  {{sc}} .empty-footer a {
      background: #FFBAD8 0% 0% no-repeat padding-box;
      border-radius: 25px;
      display: flex;
      text-align: center;
      font: normal normal 900 15px/19px Basis Grotesque Pro;
      letter-spacing: 0px;
      color: #001C72;
      padding: 16px 0 15px;
      justify-content: center;
      text-decoration: none;
  }

  {{sc}} .empty-annouce {
      display: flex;
      align-items: center;
      justify-content: center;
      padding-top: 12px;
  }

  {{sc}} .empty-annouce img {
      width: 20px;
      margin-right: 4px;
  }
  {{sc}} .empty-annouce span {
    text-align: left;
    font: normal normal bold 12px/15px Basis Grotesque Pro;
    letter-spacing: 0px;
    color: #001C72;
  }
  {{sc}} .cart-header {
    display: flex;
    justify-content: space-between;
    padding: 31px 0 26px;
  }
  {{sc}} .drawer-heading {
    text-align: left;
    font: normal normal 900 18px/23px Basis Grotesque Pro;
    letter-spacing: 0px;
    color: #001C72;
  }
  {{sc}} .freeshipping-bar {
      background: #FFFFFF 0% 0% no-repeat padding-box;
      border: 1px dashed #FFBAD8;
      border-radius: 6px;
      display: block!important;
      width: 100%;
      height: 12px;
  }

  {{sc}} .freeshipping-bar-wrapper {
      position: relative;
      height: 50px;
      display: flex;
      align-items: center;
  }

  {{sc}} .freeshipping-message {
      text-align: center;
      font: normal normal normal 17px/18px Basis Grotesque Pro;
      letter-spacing: 0px;
      color: #001C72;
  }

  {{sc}} .freeshipping-message > span {
      text-align: center;
      font: normal normal bold 17px/18px Basis Grotesque Pro;
      letter-spacing: 0px;
  }

  {{ sc }} lottie-player {
      position: absolute;
      top: 0;
      transform: translateX(-50%);
  }

  {{ sc }} .freeshipping-bar:after {
      display: block;
      background: #FD7498 0% 0% no-repeat padding-box;
      border-radius: 6px;
      content: '';
      height: 100%;
      outline: 1px solid #FFBAD8;
  }

  {{sc}} .cart_item {
      background: #FFFFFF 0% 0% no-repeat padding-box;
      border-radius: 8px;
      padding: 13px 16px 13px 12px;
      display: flex;
      position: relative;
      align-items: center;
      margin-bottom: 8px;
      box-sizing: border-box;
      width: 100%;
  }

  {{sc}} .cart_item__media {
      margin-right: 8px;
  }
  {{sc}} .cart_item__details {
    width: 100%;
  }

  {{sc}} .cart_item__name {
      font: normal normal 900 15px/18.5px Basis Grotesque Pro;
      letter-spacing: 0px;
      color: #001C72;
      text-decoration: none;
      display: block;
      padding-top: 4px;
  }

  {{sc}} .cart_item span.cur_price {
      font: normal normal 900 15px/18px Basis Grotesque Pro;
  }

  {{sc}} .cart_item span.compare_price {
      font: normal normal bold 14px/16px Basis Grotesque Pro;
  }
  {{sc}} .option-wrapper {
    display: flex;
    align-items: center;
    font: normal normal 600 12px/17.5px Basis Grotesque Pro;
    justify-content: space-between;
  }

  {{sc}} .option_name {
      width: 45%;
      white-space: nowrap;
  }
  {{sc}} .price_wrapper {
      display: flex;
      padding: 4px 0 10px;
  }

  {{sc}} .cart_item__quantity-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
  }

  {{sc}} cart-remove-button span {
      font: normal normal bold 11px/15px Basis Grotesque Pro;
      color: #001C72;
      text-decoration: underline;
      cursor: pointer;
  }

  {{sc}} quantity-popover .cart_quantity {
      background: #FFFFFF 0% 0% no-repeat padding-box;
      border: 1px solid #DFEFFC;
      border-radius: 50px;
      padding: 3px;
      min-height: unset;
      outline: unset!important;
      display: flex;
      width: 100px;
  }

  {{sc}} quantity-popover button.quantity__button {
      background: #EEF7FF 0% 0% no-repeat padding-box!important;
      border-radius: 50px;
      width: 32px;
      height: 32px;
  }
  {{sc}} .cart_drawer__footer {
      background: #FFFFFF 0% 0% no-repeat padding-box;
      border-radius: 24px 24px 0px 0px;
      margin: 0 -23px;
      padding: 20px 18px;
      position: sticky;
      bottom: 0;
      z-index: 1;
      margin-top: auto;
      box-shadow: 0px -15px 32px #FFBAD852;
  }

  {{sc}} .cart_drawer__subtotal > span {
      text-align: left;
      font: normal normal 900 17px/17px Basis Grotesque Pro;
      letter-spacing: 0px;
      color: #001C72;
  }

  {{sc}} .cart_drawer__subtotal {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 6px 0 15px;
  }

  {{sc}} .cart_drawer__subtotal span.cur_price {
      font: normal normal 900 17px/17px Basis Grotesque Pro;
      margin: 0 0 0 8px;
  }

  {{sc}} .cart_drawer__subtotal span.compare_price {
      font: normal normal 900 17px/28px Basis Grotesque Pro;
      margin: 0;
  }

  {{sc}} button#CartDrawer-Checkout {
      background: #4DD19E 0% 0% no-repeat padding-box;
      border-radius: 28px;
      outline: none;
      border: none;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      padding: 16px;
      font: normal normal 900 17px/22px Basis Grotesque Pro;
      letter-spacing: 0px;
      color: #FFFFFF;
  }

  {{sc}} .cart_drawer__subtotal .price_wrapper {
      padding: 0;
  }

  .divided_by {
      display: flex;
      align-items: center;
      justify-content: center;
      font: normal normal normal 13px/15px Basis Grotesque Pro;
      letter-spacing: 0px;
      color: #001C72;
      padding-top: 10px;
  }
  {{sc}} .divided_by span.cur_price {
    font: normal normal bold 13px/15px Basis Grotesque Pro;
    letter-spacing: 0px;
    color: #001C72;
  }
  {{sc}} .upsell_product {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 6px;
    display: flex;
    align-items: center;
    height: 100%;
    box-sizing: border-box;
    flex-direction: column;
    overflow: hidden;
  }

  {{sc}} .upsell_product_media {
    padding-top: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  {{sc}} .upsell_product_detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding: 10px 8px;
  }

  {{sc}} .upsell_product_detail a {
    text-decoration: none;
    text-align: center;
    font: normal normal bold 11px/12px Basis Grotesque Pro;
    letter-spacing: 0px;
    color: #001C72;
  }

  {{sc}} .upsell_product span.cur_price {
    font: normal normal 900 12px/15px Basis Grotesque Pro;
    letter-spacing: 0px;
    color: #FF75B1;
  }

  {{sc}} .cart-upsell-heading {
      text-align: left;
      font: normal normal 900 14px/28px Basis Grotesque Pro;
      letter-spacing: 0px;
      color: #001C72;
      padding: 12px 0;
  }

  {{sc}} .cart-upsell-produts {
      padding: 12px 0;
  }

  {{sc}} .upsell_atc {
      background: #FFBAD8 0% 0% no-repeat padding-box;
      border-radius: 19px;
      /*width: 95px;*/
      display: flex;
      align-items: center;
      justify-content: center;
      color: #001C72;
      padding: 10px 20px;
      cursor: pointer;
  }


  {{sc}} .upsell_atc > div {
      width: 20px;
      height: 20px;
      background: white;
      border-radius: 50px;
  }


  {{sc}} .upsell_atc span {
      font: normal normal 900 13px/13px Basis Grotesque Pro;
      color: #001C72;
      padding-top: 3px;
      padding-right: 6px;
  }

  {{sc}} .ATC_cta {
      display: flex;
      justify-content: space-between;
  }

  {{sc}} .ATC_cta select {
      background: #EEF7FF 0% 0% no-repeat padding-box;
      border-radius: 4px;
      border: none;
      margin-right: 6px;
      width: 95px;
  }
  @media screen and (max-width: 450px) {
    {{ sc }} #CartDrawer {
      width: 100%;
    }
    {{ sc }} .empty-link {
      display: block;
    }

    {{ sc }} .empty-link-desktop {
      display: none;
    }
    {{sc}} .cart_item span.cur_price {
        font: normal normal 900 12px/15px Basis Grotesque Pro;
    }

    {{sc}} .cart_item span.compare_price {
        font: normal normal 900 12px/15px Basis Grotesque Pro;
        color: #9F9F9F;
    }

    {{sc}} .cart_item__name {
        font: normal normal 900 13px/16px Basis Grotesque Pro;
    }

    img.cart_item__image {
        width: 72px;
        height: 72px;
    }

    {{sc}} .cart_item {
        align-items: flex-start;
    }

    {{sc}} quantity-popover button.quantity__button {
        width: 26px;
        height: 26px;
    }

    {{sc}} .price_wrapper {
        padding: 6px 5px;
    }
  }
</style>
<div id="shopify-svg-symbols" style="display:none" aria-hidden="true"><svg xmlns="http://www.w3.org/2000/svg" xmlnsXlink="http://www.w3.org/1999/xlink" focusable="false"><defs><symbol id="shopify-svg__payments_shop_pay" viewBox="0 -2 341 81"><path fill-rule="evenodd" clip-rule="evenodd" d="M227.297 0C220.448 0 214.896 5.47237 214.896 12.2229V67.8125C214.896 74.563 220.448 80.0354 227.297 80.0354H328.357C335.206 80.0354 340.758 74.563 340.758 67.8125V12.2229C340.758 5.47237 335.206 0 328.357 0H227.297ZM244.999 55.8917V41.8012H253.993C262.21 41.8012 266.579 37.2604 266.579 30.379C266.579 23.4976 262.21 19.3782 253.993 19.3782H239.205V55.8917H244.999ZM244.999 24.8084H252.663C257.982 24.8084 260.595 26.9617 260.595 30.5663C260.595 34.1708 258.077 36.3242 252.9 36.3242H244.999V24.8084ZM276.795 56.6407C281.212 56.6407 284.109 54.7214 285.439 51.4445C285.819 55.0959 288.052 56.9684 292.896 55.7044L292.944 51.819C290.996 52.0063 290.616 51.3041 290.616 49.2912V39.7415C290.616 34.124 286.864 30.8003 279.93 30.8003C273.09 30.8003 269.148 34.1708 269.148 39.8819H274.468C274.468 37.1668 276.415 35.5284 279.835 35.5284C283.444 35.5284 285.107 37.0732 285.059 39.7415V40.9586L278.932 41.614C272.045 42.3629 268.246 44.9376 268.246 49.4316C268.246 53.1298 270.905 56.6407 276.795 56.6407ZM277.982 52.4276C274.99 52.4276 273.803 50.836 273.803 49.2443C273.803 47.091 276.273 46.1079 281.117 45.5462L284.917 45.1249C284.679 49.2443 281.877 52.4276 277.982 52.4276ZM310.537 57.7174C308.115 63.5221 304.22 65.2541 298.141 65.2541H295.528V60.4793H298.331C301.655 60.4793 303.27 59.4494 305.028 56.5002L294.246 31.5493H300.23L307.925 49.7593L314.764 31.5493H320.606L310.537 57.7174Z" fill="#5a31f4"></path><path d="M29.5136 35.1798C21.5797 33.4835 18.0451 32.8197 18.0451 29.8064C18.0451 26.9722 20.4371 25.5604 25.221 25.5604C29.4282 25.5604 32.5036 27.3726 34.7674 30.9232C34.9382 31.1972 35.2906 31.292 35.5789 31.1445L44.506 26.6983C44.8263 26.5402 44.9438 26.1399 44.7623 25.8343C41.0569 19.5022 34.2121 16.0358 25.1996 16.0358C13.3574 16.0358 6 21.7885 6 30.9338C6 40.648 14.9591 43.1029 22.9038 44.7992C30.8484 46.4955 34.3936 47.1592 34.3936 50.1725C34.3936 53.1858 31.8095 54.6082 26.6518 54.6082C21.8893 54.6082 18.3548 52.4589 16.2191 48.2866C16.059 47.981 15.6852 47.8546 15.3756 48.0127L6.46985 52.364C6.16017 52.5221 6.03203 52.8908 6.19221 53.2069C9.72673 60.2134 16.9773 64.1538 26.6625 64.1538C38.996 64.1538 46.4494 58.496 46.4494 49.0663C46.4494 39.6365 37.4476 36.8972 29.5136 35.2009V35.1798Z" fill="#5a31f4"></path><path d="M77.3525 16.0358C72.291 16.0358 67.8168 17.8059 64.6026 20.9561C64.3997 21.1458 64.0687 21.0088 64.0687 20.7349V0.621625C64.0687 0.273937 63.791 0 63.4387 0H52.2692C51.9168 0 51.6391 0.273937 51.6391 0.621625V63.0476C51.6391 63.3952 51.9168 63.6692 52.2692 63.6692H63.4387C63.791 63.6692 64.0687 63.3952 64.0687 63.0476V35.6644C64.0687 30.3754 68.1798 26.319 73.7219 26.319C79.2639 26.319 83.279 30.2911 83.279 35.6644V63.0476C83.279 63.3952 83.5566 63.6692 83.909 63.6692H95.0785C95.4309 63.6692 95.7085 63.3952 95.7085 63.0476V35.6644C95.7085 24.1591 88.0628 16.0464 77.3525 16.0464V16.0358Z" fill="#5a31f4"></path><path d="M118.389 14.2552C112.324 14.2552 106.622 16.0779 102.542 18.7224C102.265 18.9016 102.169 19.2703 102.34 19.5548L107.262 27.8466C107.444 28.1416 107.828 28.247 108.127 28.0679C111.224 26.2241 114.769 25.2653 118.389 25.2864C128.138 25.2864 135.303 32.0716 135.303 41.0377C135.303 48.6763 129.569 54.3342 122.297 54.3342C116.371 54.3342 112.26 50.9311 112.26 46.1266C112.26 43.3767 113.445 41.122 116.531 39.5311C116.851 39.3625 116.969 38.9727 116.777 38.6671L112.132 30.9126C111.982 30.6598 111.662 30.5439 111.373 30.6492C105.148 32.925 100.78 38.4037 100.78 45.7579C100.78 56.8839 109.761 65.1863 122.287 65.1863C136.916 65.1863 147.434 55.1876 147.434 40.8481C147.434 25.476 135.197 14.2446 118.368 14.2446L118.389 14.2552Z" fill="#5a31f4"></path><path d="M180.098 15.9515C174.449 15.9515 169.409 18.006 165.725 21.6304C165.522 21.8306 165.191 21.6831 165.191 21.4092V17.0473C165.191 16.6996 164.914 16.4256 164.561 16.4256H153.68C153.328 16.4256 153.05 16.6996 153.05 17.0473V79.3784C153.05 79.7261 153.328 80 153.68 80H164.849C165.202 80 165.48 79.7261 165.48 79.3784V58.9385C165.48 58.6645 165.811 58.5276 166.013 58.7067C169.687 62.0782 174.545 64.0485 180.109 64.0485C193.211 64.0485 203.43 53.5862 203.43 39.9947C203.43 26.4032 193.2 15.941 180.109 15.941L180.098 15.9515ZM177.995 53.4914C170.541 53.4914 164.892 47.6439 164.892 39.9104C164.892 32.177 170.53 26.3295 177.995 26.3295C185.459 26.3295 191.086 32.0822 191.086 39.9104C191.086 47.7387 185.533 53.4914 177.984 53.4914H177.995Z" fill="#5a31f4"></path></symbol></defs></svg></div>
{%- render 'cart-drawer' -%}


{%- endcapture -%}

{{- section_content | remove: '  ' | strip_newlines -}}
<script>
  class EmptyCartSwiper extends HTMLElement {
    constructor() {
      super();
      this.swiper = new Swiper( this.querySelector('.swiper'), {
        slidesPerView: 1.3,
        spaceBetween: 8,
        centeredSlides: true,
        loop: true,
        navigation: {
          nextEl: this.querySelector('.swiper-button.button-next'),
          prevEl: this.querySelector('.swiper-button.button-prev'),
        },
        pagination: {
          el: this.querySelector('.swiper-pagination'),
          dynamicBullets: true,
          clickable: true,
        }
      })
    }
  };
  window.customElements.define('empty-cart-swiper', EmptyCartSwiper);

  class UpsellCartSwiper extends HTMLElement {
    constructor() {
      super();
      this.swiper = new Swiper( this.querySelector('.swiper'), {
        slidesPerView: 3,
        spaceBetween: 13,
        navigation: {
          nextEl: this.querySelector('.swiper-button.button-next'),
          prevEl: this.querySelector('.swiper-button.button-prev'),
        },
      });
    }
  }
  window.customElements.define('upsell-cart-swiper', UpsellCartSwiper);
  
  class UpsellATC extends HTMLElement {
    constructor() {
      super();
      this.selectEl = this.querySelector('select') || null;
      this.atcEl = this.querySelector('.upsell_atc');
      this.addAction();
    }

    addAction() {
      if(this.selectEl) {
        this.selectEl.addEventListener('change', (ev) => {
          let id = ev.target.value;
          this.atcEl.dataset.id = id;
        });
      }
      this.atcEl.addEventListener('click', (ev) => {
        let id = this.atcEl.dataset.id;
        let body = {
          id: id,
          quantity: 1,
          sections: _UMG.cartElement.getSectionsToRender().map((section) => section.id),
        };
        console.log(body);
        show_loading();
        fetch('/cart/add.js', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify(body),
        })
        .then(res => res.json())
        .then(res => {
          _UMG.cartElement.renderContents(res);
          show_loading(true);
        });
      });
    }
  }
  window.customElements.define('upsell-atc', UpsellATC);
  
  window._UMG.cartElement = document.querySelector('cart-notification') || document.querySelector('cart-drawer');
</script>
{% schema %}
  {
    "name": "Cart Drawer",
    "settings": [
      {
        "type": "header",
        "content": "Upsell"
      },
      {
        "type": "text",
        "id": "upsell_heading",
        "label": "Upsell Heading",
        "default": "You would also love..."
      },
      {
        "type": "product_list",
        "id": "upsell_products",
        "label": "Upsell Product List"
      },
      {
        "type": "header",
        "content": "Free Shipping"
      },
      {
        "type": "number",
        "id": "freeshipping",
        "label": "FreeShipping Threshold",
        "default": 40
      },
      {
        "type": "text",
        "id": "freeshipping_message",
        "label": "Freeshipping Message",
        "default": "ORDERS OVER £40 RECEIVE UK FREE SHIPPING"
      },
      {
        "type": "textarea",
        "id": "ship_more",
        "label": "Ship More Text for FreeShipping",
        "default": "Add <span>[ShipMore]</span> to unlock <span>Free Shipping</span>"
      },
      {
        "type": "textarea",
        "id": "congrat",
        "label": "Congratulation Message",
        "default": "Congrats! You've earned <strong>FREE SHIPPING</strong>"
      }
    ],
    "blocks": [
      {
        "name": "Latest Collection",
        "type": "empty",
        "limit": 1,
        "settings": [
          {
            "type": "text",
            "id": "heading",
            "label": "Empty Cart Heading",
            "default": "Your cart is empty"
          },
          {
            "type": "text",
            "id": "desc",
            "label": "Empty Cart Description",
            "default": "Let's create memories with <wbr> your furry friend"
          },
          {
            "type": "text",
            "id": "upsell_heading",
            "label": "Upsell Heading",
            "default": "Try Our BestSellerth"
          },
          {
            "type": "collection",
            "id": "collection",
            "label": "Upsell Collection"
          },
          {
            "type": "number",
            "id": "limit",
            "label": "Limit Count",
            "default": 7
          },
          {
            "type": "text",
            "id": "cta_text",
            "label": "CTA Text",
            "default": "SHOP ALL"
          },
          {
            "type": "url",
            "id": "cta_target",
            "label": "CTA Target"
          },
          {
            "type": "text",
            "id": "annouce",
            "label": "Footer Announce",
            "default": "FREE UK SHIPPING OVER £40"
          }
        ]
      },
      {
        "name": "Empty Cart",
        "type": "desktop-shop",
        "limit": 2,
        "settings": [
          {
            "type": "image_picker",
            "id": "img",
            "label": "Image"
          },
          {
            "type": "text",
            "id": "heading",
            "label": "Link Heading",
            "default": "For Dogs"
          },
          {
            "type": "url",
            "id": "link",
            "label": "Link"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Cart Drawer (Default)",
        "settings": {}
      }
    ]
  }
{% endschema %}