{% assign sc = section.id | split: '__' | last | slice: -4, 4 | prepend: '#hero_' %}

{%- capture section_content -%}
  <style>
    {{ sc }} {
      max-width: 1520px;
      margin: auto;
      margin-bottom: 50px;
    }
    {{ sc }} .hero_holder {
      position: relative;
      display: flex;
      flex-wrap: wrap;
    }
    
    {{ sc }} .hero_media {
        width: 50%;
    }
    
    {{ sc }} .hero_paw {
        position: absolute;
        bottom: 0;
        transform: translate( -50%,50%);
        left: 50%;
        width: 100px;
        height: 100px;
        z-index: 3;
        display: flex;
        background-size: contain;
        background-repeat: no-repeat;
    }
    
    
    {{ sc }} .hero_detail {
        position: relative;
        display: flex;
        align-items: center;
        width: 50%;
        justify-content: center;
        align-content: center;
        background: #FFF6F7;
    }
    
    {{ sc }} .detail_container {
        max-width: 565px;
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 0 36px;
    }
    
    {{ sc }} .hero_trustpilot {
        height: 18px;
        display: none;
    }
    
    {{ sc }} .hero_trustpilot > * {
        height: 100%;
    }
    
    {{ sc }} .hero_heading {
        font: normal normal 900 42px/48px Basis Grotesque Pro;
        letter-spacing: 0px;
        color: #001C72;
        padding-top: 10px;
    }
    
    {{ sc }} .hero_subtitle {
        text-align: left;
        font: normal normal normal 18px/23px Basis Grotesque Pro;
        letter-spacing: 0px;
        color: #001C72;
        padding-bottom: 24px;
        padding-top: 8px;
    }

    {{ sc }} .hero_ctas a {
        background: #FFBAD8 0% 0% no-repeat padding-box;
        border-radius: 60px;
        display: flex;
        text-decoration: none;
        font: normal normal 900 15px/21px Basis Grotesque Pro;
        letter-spacing: 0px;
        color: #001C72;
        padding: 17px 20px;
        margin-right: 9px;
        text-align: center;
        /* white-space: nowrap; */
        align-items: center;
    }
    {{ sc }} .hero_ctas {
        display: flex;
    }
    
    {{ sc }} .hero_ctas a:nth-child(even) {
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border: 2px solid #FFBAD8;
    }
    
    {{ sc }} .media_container {
        display: flex;

    }
    
    {{ sc }} .media_container > div {
        width: 100%;
        padding-bottom: 90%;
        display: block;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    {{ sc }} .media_container video {
      width: 100%;
      max-height: 630px;
      object-fit: cover;
      object-position: center;
    }

    {{ sc }} .hero_mask svg{
      display: block;
      margin-bottom: -1px;
    }
    {{ sc }} .hero_mask {
        position: absolute;
        bottom: 0;
        left: 0;
        display: block;
        width: 100%;
    }
    {{ sc }} .hero_mask > #round-mask-revert {
      display: none;
    }

    {{ sc }} .mobile {
      display: none;
    }

    @media screen and (max-width: 950px) {
      {{ sc }} {
        margin-bottom: 33px;
      }
      {{ sc }} .detail_container {
          align-items: center;
          padding: 30px 13px 45px;
          margin: 0;
      }

      {{ sc }} .hero_heading {
          text-align: center;
          font: normal normal 900 28px/28px Basis Grotesque Pro;
          letter-spacing: 0px;
          color: #001C72;
          padding-top: 3px;
      }

      {{ sc }} .hero_subtitle {
          text-align: center;
          font: normal normal normal 15px/18px Basis Grotesque Pro;
          letter-spacing: 0px;
          color: #001C72;
          padding: 3px 0 15px;
      }

      {{ sc }} .hero_ctas {
          width: 100%;
          justify-content: space-between;
      }

      {{ sc }} .hero_ctas a {
          font: normal normal 900 13px/17px Basis Grotesque Pro;
          padding: 10px 0 10px;
          width: 50%;
          justify-content: center;
      } 

      {{ sc }} .hero_paw {
        width: 65px;
        height: 65px;
      }
    }

    @media screen and (max-width: 750px) {
      {{ sc }} {
        margin-bottom: 0;
      }
      {{ sc }} .hero_detail {
          width: 100%;
          order: 1;
          z-index: 1;
      }

      {{ sc }} .hero_media {
          width: 100%;
          max-height: 350px;
          position: relative;
      }
      {{ sc }} .hero_mask #round-mask {
        display: none!important;
      }

      {{ sc }} .hero_mask #round-mask-revert {
        display: block;
        transform: rotate(180deg);
      }

      {{ sc }} .hero_paw {
        bottom: 6px;
      }
    }
  </style>

  <div id="hero_{{ section.id | split: '__' | last | slice: -4, 4 }}">
    <div class="hero_holder">
      <div class="hero_detail">
        <div class="detail_container">
          <div class="hero_trustpilot">
            {% capture trustpilot %}
              {% if section.settings.trustpilot %}
                <img src="{{ section.settings.trustpilot | img_url: 'master' }}" alt="trustpilot image">
              {% else %}
                <img src="{{ 'trustpilot.svg' | asset_url }}" alt="trustpilot">
              {% endif %}
            {% endcapture %}
            {{ trustpilot }}
          </div>
          <div class="hero_heading">
            {{ section.settings.heading }}
          </div>
          <div class="hero_subtitle">
            {{ section.settings.subtitle }}
          </div>
          <div class="hero_ctas">
            <a href="{{ section.settings.cta_target_1 }}">
              {{ section.settings.cta_1 }}
            </a>
            <a href="{{ section.settings.cta_target_2 }}">
              {{ section.settings.cta_2 }}
            </a>
          </div>
        </div>
      </div>
      <div class="hero_media">
        <div class="media_container">
          {% capture hero_img %}
            <style>
              {{ sc }} .media_container > div {
                {% if section.settings.hero_img%}
                  background-image:url('{{ section.settings.hero_img | img_url: 'master' }}');
                {% else %}
                  background-image:url('{{ 'hero.png' | asset_url }}');
                {% endif %}
              }
              @media screen and (max-width: 750px) {
                {{ sc }} .media_container > div {
                  {% if section.settings.m_hero_img%}
                    background-image:url('{{ section.settings.m_hero_img | img_url: 'master' }}');
                  {% elsif section.settings.hero_img%}
                    background-image:url('{{ section.settings.hero_img | img_url: 'master' }}');
                  {% else %}
                    background-image:url('{{ 'hero.png' | asset_url }}');
                  {% endif %}
                }
              }
            </style>
            <div></div>
          {% endcapture %}

          {% if section.settings.hero_show == 'image' %}
            {{ hero_img }}
          {% elsif section.settings.hero_show == 'video' %}
            {% if section.settings.hero_video %}
              {{ section.settings.hero_video | video_tag: autoplay: true, loop: true, muted: true, controls: false | remove: '_small' }}
            {% else %}
              {{ hero_img }}
            {% endif %}
          {% endif %}
        </div>
        {% capture paw_icon %}
          {% if section.settings.paw %}
            <div class="hero_paw" style="background-image:url({{ section.settings.paw | img_url: 'master' }})"></div>
          {% else %}
            <div class="hero_paw" style="background-image:url({{ 'paw.svg' | asset_url }})"></div>
          {% endif %}
        {% endcapture %}
        {{ paw_icon }}

        <div class="hero_mask">
          {% render 'round-mask' color: '#FFFFFF' %}
          {% render 'round-mask-revert' color: '#FFF6F7' %}
        </div>
      </div>
    </div>
  </div>

{%- endcapture -%}

{{- section_content | remove: '  ' | strip_newlines -}}

{% schema %}
  {
    "name": "Hero Section",
    "settings": [
      {
        "type": "image_picker",
        "id": "hero_img",
        "label": "Hero Image"
      },
      {
        "type": "image_picker",
        "id": "m_hero_img",
        "label": "Hero Image (mobile)"
      },
      {
        "type": "video",
        "id": "hero_video",
        "label": "Hero Video"
      },
      {
        "type": "radio",
        "id": "hero_show",
        "label": "Choose Hero Type",
        "options": [
          {
            "label": "Image",
            "value": "image"
          },
          {
            "label": "Video",
            "value": "video"
          }
        ],
        "default": "image"
      },
      {
        "type": "image_picker",
        "id": "trustpilot",
        "label": "Trustpilot Image"
      },
      {
        "type": "text",
        "id": "heading",
        "label": "Hero Title",
        "default": "Unleash your style and pamper your furry friend"
      },
      {
        "type": "text",
        "id": "subtitle",
        "label": "Hero Subtitle",
        "default": "Your One-Stop Shop for Dog Accessories and Hooman's Apparel"
      },
      {
        "type": "text",
        "id": "cta_1",
        "label": "CTA 1",
        "default": "SHOP FOR DOGS"
      },
      {
        "type": "url",
        "id": "cta_target_1",
        "label": "CTA Target 1"
      },
      {
        "type": "text",
        "id": "cta_2",
        "label": "CTA 2",
        "default": "SHOP FOR DOGS"
      },
      {
        "type": "url",
        "id": "cta_target_2",
        "label": "CTA Target 2"
      },
      {
        "type": "image_picker",
        "id": "paw",
        "label": "Paw Icon"
      }
    ],
    "blocks": [
    ],
    "presets": [
      {
        "name": "Hero Section (Default)",
        "settings": {
          "hero_show": "image",
          "heading": "NEW AUTUMN ESSENTIALS NOW LIVE",
          "subtitle": "Dusky Blue, Emerald, Mulberry and Teal now available!",
          "cta_1": "SHOP FOR DOGS",
          "cta_target_1": "shopify:\/\/collections",
          "cta_2": "SHOP NEW IN",
          "cta_target_2": "shopify:\/\/collections"
        }
      }
    ]
  }
{% endschema %}
